.home {
  width: 100%;
  height: 100vh;
  background:linear-gradient(45deg, #ff9800, #4a148c, #e91e63);
  background-size: 150% 200%;
  animation: bggradient 10s ease infinite;
  font-size: 3rem;
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
}

.formula {
  width: 100%;
  height: 100vh;
  background:linear-gradient(45deg, #3f51b5, #4a148c, #009688);
  background-size: 150% 200%;
  animation: bggradient 10s ease infinite;
  font-size: 3rem;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}

.wakeup {
  width: 100%;
  height: 100vh;
  background: url('/img/sky.png');
  background-position: center;
  background-size: 120% 120%;
  font-size: 6rem;
  color: #333;
  padding: 6rem 2rem;
  text-align: center;
}

.textbox {
  width: 90%;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  border-style: none;
  color: #fff;
  margin: 2rem;
}

.text {
  font-size: 10rem;
  text-align: center;
  margin: 2rem;
}

.button {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  background: transparent;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  border-color: #fff;
  border-style: solid;
  border-width: 0.3rem;
  color: #fff;
  margin: 1rem;
}